@import '../variables';

.button-container {
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: $primary-color;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: $purple;
    }
}


.operator {
    background-color: $green;

    &:hover {
        background-color: $orange
    }
}

.equal-sign {
    background-color: $yellow;
    border: 2px solid black;
    color: rgb(255, 255, 255);

    &:hover {
        background-color: $red;
    }
}